{% extends 'base_generic.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="row">
    <div class="col-4">
        <h1>{% if form.instance.pk %}Modificación de cliente{% else %}Alta de cliente{% endif %}</h1>
        {% if form.instance.pk %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">Modificar un cliente no afecta a las
            facturas pasadas.
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <button class="btn btn-primary" type="submit">
                {% if form.instance.pk %}Guardar{% else %}Crear{% endif %}
            </button>
            <a class="btn btn-secondary" href="{% url 'list_clients' %}">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
